/* you can add your own styles in this file */

body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  font-family: var(--sans-serif);
  margin: 0;
}

button {
  font-family: var(--sans-serif);
}

.chevron-purple {
  background-image: url('./assets/purple-chevron.svg');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
}

.chevron-white {
  background-image: url('./assets/white-chevron.svg');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
}
